<!--
La variabile isLoginView sfrutta una variabile per capire se l'utente si è già connesso o meno,
in caso contrario è obbligato a registrarsi con email e password.
-->
@if (isLoginView) {

<form>
    <h3 class = "bold mb-3 pb-3" style = "letter-spacing: 1px;"> Log in </h3>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"> User Name </label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"/>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" />
  </div>


<div class="pt-1 mb-4">
    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-lg btn-block" type="button">Login</button>
</div>

<p> Don't have any account? <a href="#!" class="link-info" (click)="isLoginView = false"> Create here !</a></p>
  
</form>
} @else {

<form>
 <h3 class = "bold mb-3 pb-3" style = "letter-spacing: 1px;"> Register </h3>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email"class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"/>

    <div id="emailHelp" class="form-text"> We'll never share your email with anyone else.</div>
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"> User Name </label>
    <input type="email"class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"/>
 </div>
 <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1"/>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1"/>
    <label class="form-check-label" for="exampleCheck1">Keep me connected</label>
  </div>

<p> Don't have any account? <a href="#!" class="link-info" (click)="isLoginView = true"> Log in</a></p>
</form>

}
